<section>
    <h2>Спорт от Света</h2>
    <div class="football-wrapper" *ngIf="!isVisibleDetails">
        <div class="football-card" *ngFor="let play of football$ | async" 
        [routerLink]="['country', play.country]"
        routerLinkActive="active" 
        (click)="show()">
        <div class="football-card" *ngFor="let play of football$ | async">
            <div class="football-card--img">
                <img src="../../../../assets/images/soccer-field.png">
            </div>
            <div class="card-item">
                <div class="card-item--details">
                    <div class="stadium">
                        <span class="first">Стадион</span>
                        <span>{{play.stadium}}</span>
                    </div>
                    <div class="country" >
                    <div class="country" 
                        [routerLink]="['country', play.country]"
                        routerLinkActive="active" 
                        (click)="show()">
                        <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                        <span>{{play.country}}</span>
                    </div>
                    <div class="tournament">
                        <span class="first">Турнир</span>
                        <span>{{play.tournament}}</span>
                    </div>
                    <div class="date">
                        <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                        <span>{{play.start}}</span>
                    </div>
                </div>
                <div class="teams">
                    <span class="first">Отбори</span>
                    <span>{{play.match}}</span>
                </div>
            </div>
        </div>    
    </div>
</section>
<div class="details" *ngIf="isVisibleDetails">
    <button (click)="hide()">X</button>
    <router-outlet></router-outlet>
</div>
