<div class="main-wrapper">
    <h2>Спорт от Света</h2>
    <div class="football-wrapper" *ngIf="!isVisibleDetails">
        <div class="football-card" *ngFor="let play of football$ | async" 
            routerLink="/forecast/bg/home/country/{{play.country}}"
            routerLinkActive="active" 
            (click)="show()">
            <div class="card-item">
                <div class="card-item--details">
                    <div class="stadium">
                        <img src="../../../../assets/images/soccer-field.png">
                        <span>{{play.stadium}}</span>
                    </div>
                    <div class="country" >
                        <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                        <span>{{play.country}}</span>
                    </div>
                    <div class="tournament">
                        <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
                        <span>{{play.tournament}}</span>
                    </div>
                    <div class="date">
                        <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                        <span>{{play.start}}</span>
                    </div>
                    <div class="teams">
                        <fa-icon [icon]="['fas', 'people-group']"></fa-icon>
                        <span>{{play.match}}</span>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<div class="details" *ngIf="isVisibleDetails">
    <button (click)="hide()">X</button>
    <router-outlet></router-outlet>
</div>
