@media screen and(max-width: 768px){
    .menu-wrapper {
        position: absolute;
        top: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        flex-direction: column;
        
        .menu-button {
            width: 100%;
            cursor: pointer;
        }
        .menu-list {
            width: 80%;
            padding: 10px 0px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 5px;
            a {
                display: inline-block;
                width: 100%;
                text-align: center;
                margin: 10px 0px;
            }
            a:hover {
                padding: 5px 0px;
                background-color: #ebebeb;
                border: 1px solid #1f1f1f;
                border-radius: 3px;
            }

        }
    }
}