
<div class="menu-wrapper">
    <div class="menu-button" (click)="showMenu()">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </div>
    <div class="menu-list" *ngIf="isShow">
        
        <a routerLink="/forecast/{{city}}/today">ДНЕС</a>
    
    
        <a routerLink="/forecast/{{city}}/today-by-hours">ПОЧАСОВО</a>
    
    
        <a routerLink="/forecast/{{city}}/weekly">СЕДМИЧНО</a>
    
    
        <a routerLink="/forecast/{{city}}/montly">МЕСЕЧНО</a>
    
    
        <a routerLink="/forecast/air-quolity">КАЧЕСТВО НА ВЪЗДУХА</a>
      
    </div>
</div>
