.air-pollutants--scale {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    .scale-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 0px;
        .item-level {
            text-align: center;
            border-bottom: 3px solid;
        }
        .item-description {
            flex: 0 1 50%;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            border-radius: 20px;
            text-align: center;
            padding: 10px 10px;
        }
    }
}
@media screen and (max-width: 768px){
    .scale-items {
        flex-direction: column;
    }
}