.navbar-search {
    width: 99%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    .search-icon {
        width: 24px;
        height: 24px;
        text-align: center;
        fa-icon {
            font-size: 21px;
            background-color: #e0c40b;
        }
    }
    .search-form {
        width: 99%;
        height: 24px;
        form {
            height: 24px;
            display: flex;
            align-items: center;
        }
        input {
            width: 75%;
            height: 24px;
            border: none;
        }
        input:focus {
            outline: none;
        }
        button {
            margin-left: 10px;
            width: 25%;
            height: 24px;
            background-color: #e0c40b;
            border: none;
            cursor: pointer;
        }
        .error {
            position: absolute;
            top: 25%;
            left: 51%;
            color: #fff;
        }
    }
    .search-form {
        width: 99%;
        height: 24px;
        form {
            height: 24px;
            display: flex;
            align-items: center;
        }
        input {
            width: 75%;
            height: 24px;
            border: none;
        }
        input:focus {
            outline: none;
        }
        button {
            margin-left: 10px;
            width: 25%;
            height: 24px;
            background-color: #e0c40b;
            border: none;
            cursor: pointer;
        }
    }
}
