.daily-card {
    padding: 20px;
    h2 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .daily-card--cityForecast {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .cityForecast-icon img{
        width: 100px;
        height: 100px;           
    }
    .cityForecast-temp {
        display: flex;
        flex-direction: column;
        .temp-cel {
            font-size: 58px;
        }
    }

    .cityForecast-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .line {
            width: 100%;
            height: 1px;
            background-color: #656565;
        }
    }
}