<div class="wrapper">
    <div class="warning-card" *ngIf="warnings$ | async as warnings; else loader">
        <div class="warning-card--list" *ngFor="let warning of warnings.alert">
            <div class="list-item"><span class="title">Източник</span> <span class="text">{{warning.headline}}</span></div>
            <div class="list-item"><span class="title">Събитие</span> <span class="text">{{warning.event}}</span></div>
            <div class="list-item"><span class="title">Съобщение</span> <span class="text">{{warning.desc}}</span></div>
            <div class="list-item"><span class="title">Начало</span> <span class="text">{{warning.effective}}</span></div>
            <div class="list-item"><span class="title">Край</span> <span class="text">{{warning.expires}}</span></div>
            <div class="list-item" *ngIf="warning.instruction"><span class="title">Инструкции</span> <span class="text">{{warning.instruction}}</span></div>
        </div>
        <div class="empty" *ngIf="warnings.alert.length < 1">
            <div> 
                <h2>Няма нaлични предупреждения за опасно време в {{country}}</h2>
            </div>
            <div class="icons">
                <div>
                    <fa-icon class="cloud" [icon]="['fas', 'cloud']"></fa-icon>
                    <fa-icon class="bolt" [icon]="['fas','bolt']"></fa-icon>
                </div>
                <div>
                    <fa-icon class="cloud" [icon]="['fas', 'cloud']"></fa-icon>
                    <fa-icon class="drop" [icon]="['fas', 'droplet']"></fa-icon>
                    <fa-icon class="drop" [icon]="['fas', 'droplet']"></fa-icon>
                    <fa-icon class="drop" [icon]="['fas', 'droplet']"></fa-icon>
                </div>
                <fa-icon class="sun" [icon]="['fas', 'sun']"></fa-icon>
                <fa-icon [icon]="['fas', 'wind']"></fa-icon>
                <fa-icon [icon]="['fas', 'radiation']"></fa-icon>
            </div>
        </div>
    </div>
    
</div>
<ng-template #loader>
    <div>
        Loading...
    </div>
</ng-template>