<div class="header">
    <div class="navbar-top">
        <div class="navbar-top--left">
            <div class="navbar-logo" routerLink="">
                <fa-icon [icon]="['fas', 'sun']"></fa-icon>
                <span class="logo-name">Forecast</span>
            </div>
            <div class="navbar-location">
                <app-location [currentLocation]="headerForecast"></app-location>
            </div>
        </div>
        <div class="navbar-top--right">
            <app-search (searchValue)="searched($event)"></app-search>
        </div>
    </div>
    <nav class="navbar-bottom">
        <app-navbar-bottom *ngIf="!isMobileMenu" [city]="currentCity" [country]="country"></app-navbar-bottom>
        <app-mobile-menu *ngIf="isMobileMenu" [city]="currentCity" [country]="country"></app-mobile-menu>
    </nav>
</div>

