.wrapper {
    width: 85%;
    margin: 20px auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    .forecast-card {
        padding: 20px 20px;
        margin: 10px 0px;
        background-color: #fff;
        display: flex;
        align-items: center;
        gap: clamp(5px, 1.5vw, 20px);
        .card-item {
            flex: 0 1 25%;
        }
        .card-item span {
            margin: 0px 10px;
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: clamp(75px, 5vw, 150px);
                height: clamp(75px, 5vw, 150px);
            }
        }
        .hot {
            color: #ff0000;
        }
        .cold,
        .rain {
            color: #0000ff;
        }
        .wind {
            color: lightgray;
        }
        .eye {
            color: lightgreen;
        }
        .radiation {
            color: orange;
        }
        .sunrise,
        .moonset {
            color: rgb(255, 136, 0);
        }
        .sunset {
            color:rgb(33, 20, 12);
            opacity: 0.5;
        }
        .moonrise {
            color: lightgray;
        }
    }
}

@media screen and (max-width: 768px){
    .forecast-card {
        flex-direction: column;
        .card-item {
            width: 80%;
            text-align: center;
        }
    }
    
}