<div class="air-wrapper" *ngIf="air && condition">
    <h2>Качество на въздуха</h2>
    <hr />
    <div class="air-items">
        <div class="circle" [ngStyle]="{'background': condition.color}">
            <div>{{air['us-epa-index']}}</div>
            <div class="level">
                <div>{{condition.level}}</div>
            </div>
        </div>
        <div class="description" [ngStyle]="{'border-color': condition.color}">
            <div>{{condition.description}}</div>
        </div>
    </div>
    <div class="air-pollutants">
        <div class="air-pollutants--titles" (click)="show($event)">
            <span id="one" class="title-border">Замърсители</span>
            <span id="two">Скала на качеството</span>
        </div>
        <div *ngIf="!isScaleVisible">
            <app-pollutants [pollutants]="air"></app-pollutants>
        </div>
        <div *ngIf="isScaleVisible">
            <app-scale></app-scale>
        </div>
    </div>
    <hr/>
</div>