.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .iframe-wrapper,
    .forecast-wrapper,
    .country-details {
        flex: 0 0 33%;
        height: 500px;
        border: 1px solid white;
    }
    .forecast-wrapper {
        background-color: white;
    }
    .country-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1f1f1f;
        > div {
            flex: 0 0 50px;
            width: 100%;
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px){
    .wrapper {
        flex-direction: column;
    }
}